<section id="activites" class="bg-light-gray">
        <div class="container">
                <div class="row">
                        <div class="col-lg-12 text-center">
                                <h2 class="section-heading">Activités de montagne et haute montagne</h2>
                                <h3 class="section-subheading text-mutedA"> Vers les cimes !
                                </h3>
                                <p>
                                Venez découvrir et explorer la haute montagne avec un guide ! <br> Alpinisme, ski de randonnée, escalade, cascade de glace ! <br >Choisissez l'activité qui vous convient pour partir en montagne. <br> 
                                Basé dans les Hautes Alpes, au sud du Massif des Ecrins, je me ferai un plaisir de vous accompagner et vous transmettre ma passion des Alpes ! <br >A bientôt en montagne !
                                </p>

                        </div>
                </div>


                <div class="row">
                        <div class="col-xs-6 col-sm-3 text-center">
                                <div class="team-member">

                                        <a href=ski-de-rando class="page-scroll">
                                        <img src="img/skirando/skirando0.jpg" class="img-responsive img-circle" alt="ski de rando en Suisse" width="90%">
                                        </a>

                                        <a href=ski-de-rando class="page-scroll">
                                                <h3>Ski de randonnée
                                                </h3>     
                                        </a>                 

                                </div>
                        </div>

                        <div class="col-xs-6 col-sm-3 text-center">
                                <div class="team-member">

                                        <a href=cascade-de-glace class="page-scroll">
                                                <img src="img/cascade/cascade0.jpg" class="img-responsive img-circle" alt="cascade de glace au val d'escrin" width="90%">
                                        </a>

                                        <a href=cascade-de-glace class="page-scroll">
                                                <h3>Cascade de glace</h3>     
                                        </a>                 

                                </div>
                        </div>

                        <div class="col-xs-6 col-sm-3 text-center">
                                <div class="team-member">


                                        <a href=alpinisme class="page-scroll">
                                                <img src="img/alpinisme/alpinisme0.jpg" class="img-responsive img-circle" alt="alpinisme en valgaudemar" width="90%">
                                        </a>

                                        <a href=alpinisme class="page-scroll">
                                                <h3>Alpinisme</h3>     
                                        </a>                 

                                </div>
                        </div>



                        <div class="col-xs-6 col-sm-3 text-center">
                                <div class="team-member">

                                        <a href=escalade class="page-scroll">
                                                <img src="img/escalade/escalade0.jpg" class="img-responsive img-circle" alt="escalade de fissures au val d'orco" width="90%">
                                        </a>

                                        <a href=escalade class="page-scroll">
                                                <h3>Escalade</h3>     
                                        </a>                 

                                </div>
                        </div>
                        
                </div>        
                <footer>
                        <div class="row"> 
                                <div class="col text-center">                 
                                        <a href="Votre-Guide" class="page-scroll btn btn-xl" style="color:black">Votre Guide</a>
                                </div>           
                        </div> 
                </footer>

        </div>
        


</section>

<!--<footer style="background: black">-->
<!--        <div class="row" > -->
<!--                <div class="col text-center " >                 -->
<!--                        <div class="fb-like" data-href="{{ site.url }}" data-width="1" data-layout="button" data-action="like" data-size="large" data-share="true">-->
<!--                        </div>-->
<!--                </div>           -->
<!--        </div> -->
<!--</footer>-->



