<!-- About Section -->
<section id="about" class="bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">Votre guide</h2>
				<h3 class="section-subheading text-muted">Tentative d'esquisse !</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6" text-center"><img class="img-thumbnail" src="img/about/VotreGuide.jpg" alt=""></div><div class="col-sm-6" text-center"> 
			</div>
				<!--
				<h2 class="section-heading">Activités montagne</h2>
				-->
				<!--
				<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
				-->
			<div class="col-sm-6 ">
				<p class="text-muted text-justify">
					 Né au milieu des ballons ronds des Hautes Vosges, j'ai déjà chausser les skis de fond avant d'avoir aux pieds les skis de rando. <br>
En école d’ingénieur à Grenoble, mon armoire s’encombre de chaussons d’escalade, de skis de rando et de cordes en tout genre. Bizarrement, les cimes enneigées m’attirent alors plus que les laboratoires ou bureaux d’étude de fond de vallée. <br>
Déjà diplômé accompagnateur en montagne, je poursuis par le diplôme de guide de haute montagne. Parce que le ski et l’escalade c’est quand même bien ! <br>
Aujourd’hui, aspirant guide de haute montagne, j’habite à Ancelle, un petit village des Hautes Alpes. Et quel cadre de vie ! Le soleil une bonne partie de l’année, la neige au pied de la maison en hiver, Céüse (falaise mythique !) pour lézarder au soleil avec comme excuse l’escalade et les écrins avec ses hautes montagnes à quelques encablures du village. <br>
Chauvinisme ? Probablement un peu mais venez parcourir avec moi la montagne et vous partagerai mon point de vue ! 
				</p>
				
			</div>	
			</div>
		</div>
	</div>
</div>

</section>






