<!-- Navigation -->

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
<!--            page scroll permet de scroller vers la page en passant par les autres-->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                <a class="navbar-brand page-scroll" href="/#page-top"> <h1> {{site.title}} </h1>
             </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="/#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/#activites">Activités</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="avantpartir">Avant de partir</a>
                    </li>
                            
                    <li>
                        <a class="page-scroll" href="VotreGuide">Votre Guide</a>
                    </li>

                    <li>
                        <a class="page-scroll" href="tarif">Tarifs</a>
                        
                    </li>
                        
                    <li>
                        <a class="nav-item page-scroll" href="contact">Contact</a>
                    </li>
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
<!--                <div class="intro-lead-in">Pierre CUNAT, A. guide de Haute Montagne</div>-->
                <div class="intro-heading">La montagne à votre cordée</div>
                <a href="/#activites" class="page-scroll btn btn-xl">Découvrer et explorer</a>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->


