---
layout: post
title : "Ski de randonnée autour d'Orcières Merlette"
date: "2021-02-20"
---

<div class="container">
            <div class="row">
            
            <div class="col-sm-5 text-justify">
                
                <p>
        Après une première journée de découverte du ski de randonnée, nous repartons avec Maxime, Cédric, Romain et Olivier pour skier les belles pentes Sud autour d'Orcières Merlette. <br>
        Un départ plus matinal que la veille nous permet d'envisager de skier au soleil. En partant tôt, la neige ne sera pas trop molle pour la descente. <br>
        Arrivés au hameau des Marches, le soleil est déjà là ! Le paysage est  grandiose dès le parking : pleine vue sur la vallée du Champsaur et ses sommets. <br>
        L'équipe des 4 frères  est bien motivée. Le départ, tranquille, se fait par une large piste qui nous permet de rejoindre le village isolé des Traverses. Ici pas d'accès routier l'hiver ! <br>
        Nous poursuivons notre montée en direction de la Muande. Au-dessus de 2000m, nous arrivons à un petit sommet. Il est 10h et la pente Est prend déjà bien le soleil. La neige est parfaite pour skier. La tentation est trop forte ! Nous enlevons les peaux de phoque et c'est parti pour une première descente de rêve ! Les virages s'enchainent facilement sur cette neige 4 étoiles. <br>
Re-peautage et c'est reparti pour le sommet ! La chaleur se fait ressentir. Finalement, vers 12h nous arrivons au sommet de la Muande. Magie des sommets, une vue toute nouvelle sur les Ecrins s'offre à nous. Le Sirac, imposant nous fait face. Sous nos pieds, côté Nord, on aperçoit le vallon de Méolion et la vallée de Champoléon.<br>
Pour profier d'une meilleure neige, le pique-nique sera repoussé. Le créneau pour descendre, c'est maintenant ! <br>
Après quasiment 1000m de dénivellé, les jambes sont lourdes. Heureusement la neige est facile à skier. Toute douce ! <br>
Les virages s'enchainent, quelques chutes aussi, et nous rejoignons le hameau des Traverses pour le pique-nique. <br>
                Bravo à la fraterie ! <br>
                </p>

            </div>
            
                    <footer>
          <div class="row"> 
                <div class="page-scroll btn btn-xl">                 
                <a href="https://www.facebook.com/pierrecunat/posts/190304916066414"> Mon actualité sur FB !</a>
                </div>           
          </div> 
        </footer>
            
                {% for image in site.static_files %}
                  {% if image.path contains 'img/posts/2021-02-20' %}
                    <div class="col-sm-5 text-center">
                    <img class="img-thumbnail img-responsive" src="{{ image.path }}" alt="{{ image.name }}">
                    </div>
                  {% endif %}
                {% endfor %}
                

            </div>
</div>

