---
layout: post
author: Pierre CUNAT
title : "Descente à ski de la face Sud de Soleil Boeuf"
date: "2021-02-18"
---

<div class="container">
            <div class="row">
            
            <div class="col-sm-5 text-justify">
                
                <p>
       La veille Vivien me contacte pour aller skier l'un de ses projets : la face Sud de Soleil Boeuf. Cette belle face domine la vallée du Champsaur et le village de Chaillol. <br>
         A 8h30, skis aux pieds, nous partons du hameau des Marrons à côté de Chaillol. L'enneigement descend encore suffisamment bas pour s'épargner du portage. <br>
D'énormes blocs de grès jalonnent la pente de montée. Ça donne presque envie de grimper ! <br>
Ce matin le ciel est bien voilé. Pas de très bonne augure pour le dégel des pentes... Si le soleil ne pointe pas le bout de son nez, la neige va être bien dure à skier. Enfin, on croise les doigts et on tente notre chance ! <br>
Plus haut, sur l'épaule raide qui remontre jusqu'au sommet, la neige est vraiment dure ! Les couteaux nous permettent de progresser encore quelques centaines de mètres à ski. <br> 
Sous le sommet, on se résigne à chausser les crampons. Une traversée plein ouest va nous permettre de contourner la barre rocheuse sommitale. Vivien se lance dans la traversée et s'arrête rapidement. Pas assez de croûte ! la neige ne porte pas assez et en-dessous ce n'est que de la neige sans cohésion. La progression va être pénible et c'est la sous-couche sans cohésion est peu rassurante. <br>
Tant pis pour le sommet ! On s'arrête sous la barre rocheuse. De toute façon, les plus belles pentes à skier sont sous nous. <br>
Entre temps, le soleil a fait son apparition ! Les pentes Sud Est chauffent rapidement. Décaillage en cours ! Miam ! <br>
Le temps d'enlever peaux et crampons, les pentes seront prêtes à accueillir nos ski ! 
Et hop ! On se lance dans ces belles contre-pentes Sud Est ! Un vrai régal ! C'est raide mais avec cette qualité de neige, la pente s'oublie. <br>
La descente s'effectue au milieu de gradins rocheux. Il faut serpenter pour trouver son passage. <br>
Plus bas le labyrinthe se complexifie. Vivien part en éclaireur.<br>
En-dessous de lui, des concurrents à quatre pattes ont déjà trouvé un passage. "On est plus chez nous !" me dit Vivien. Effectivement, plus entouré de barres rocheuses que de pentes de neige, il est tant de faire demi-tour. Le terrain est plus adapté au chamois qu'au skieur !
Nouvelle remontée sur la fameuse épaule puis descente finale sur Chaillol ! Dans la forêt la neige est lourde. Peu importe, on a eu notre quota de beaux virages et belle neige. <br>
Merci Vivien pour cet itinéraire original et les magnifiques photos !  
                </p>

            </div>
            
            
                {% for image in site.static_files %}
                  {% if image.path contains 'img/posts/2021-02-18' %}
                    <div class="col-sm-5 text-center">
                    <img class="img-thumbnail img-responsive" src="{{ image.path }}" alt="{{ image.name }}">
                    </div>
                  {% endif %}
                {% endfor %}
                

            </div>
</div>

<!--                                ![texte rempla][ma légende](/img/alpinisme/alpinisme1.jpg){: .img-thumbnail} -->

<!--<div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-lg-3 text-center">-->
<!--                <figure>-->

<!--                <img class="img-thumbnail img-responsive" src="/img/alpinisme/alpinisme1.jpg" -->
<!--                alt="alpinisme arête      rochause">               -->
<!--                 <figcaption> une arête rocheuse</figcaption>-->
<!--                 </figure>-->
<!--                 -->
<!--                 </div>-->
<!--                 -->
<!--                 -->


<!--                <div class="col-lg-3 text-center">-->
<!--                <img class="img-thumbnail img-responsive" src="/img/alpinisme/alpinisme1.jpg" -->
<!--                alt="alpinisme arête      rochause">               -->
<!--                 </div>-->

<!--                <div class="col-lg-3 text-center">-->
<!--                <img class="img-thumbnail img-responsive" src="/img/alpinisme/alpinisme1.jpg" -->
<!--                alt="alpinisme arête      rochause">               -->
<!--                 </div>-->

<!--                <div class="col-lg-12 text-center">-->
<!--                <p>Ceci est mon premier article </p>-->

<!--                </div>-->


<!--            </div>-->
<!--</div>-->
