---
layout: post
title : "Retour de la poudreuse dans le Champsaur ! "
date: "2021-03-10"
image: "https://www.pierrecunat.fr/img/posts/2021-03-10-Poudre-au-Barle-et-Grande-Autane/Ski-de-rando-au-Barle-et-Grande-Autane1.jpg"
---

<div class="container">
            <div class="row">
            {{ page_title }}
            <div class="col-sm-5 text-justify">
               <p>
Poudre dans le champsaur ! Le message de Joseph est clair et confirme ce dont je me doutais après avoir skié le jour même une pente Nord Est en excellente condition. <br>
Le froid des derniers jours a conservé la neige tombée le week end dernier. <br>
D'ailleurs à 7h30 du matin, l'ambiance est plutôt glaciale à Archinard. Des températures bien négatives et un vent gelé !<br>
Objectif du jour, le beau couloir Est qui descend de la Grande Autane ! Ou plutôt le premier objectif... Car bien vite l'appel des pentes poudreuses est le plus fort.<br>
Au lieu de tourner à droite vers la Grande Autane, on dirige nos spatules vers la gauche. Direction le Barle ! <br>
La fin de la montée est difficile dans cette neige poudreuse qui glisse sur le fond dur et fait riper les skis. Un mal pour un bien. La descente va être énorme !<br>
Sur la crête, on retrouve le soleil, les pentes sud de Malamorte, les troupeaux de chamois. <br> 
C'est parti pour une descente 4 étoiles ! Impressionnant de skier cette neige un 10 mars, de laisser ses traces comme en plein mois de janvier. <br>
Un peu de crême solaire, quelques biscuits et en avant pour la deuxième montée vers la Grande Autane. <br>Le parcours final sur la crête, aérien, offre une vue magnifique sur le Champsaur.<br>
Au sommet, on hésite à basculer dans le couloir. Avec ce froid, la neige revient difficilement, même en Est. Finalement, on se lance en choisissant les contre-pentes Sud. Bonne option ! C'est raide mais la neige est agréable à skier. <br>
Plus bas, une petite étroiture glacée et puis les grandes pentes Est avec une fine couche de poudre ! Les 1000 mètres suivants sont excellents. La neige alterne entre poudreuse et moquette. <br>
Superbe sortie ! Le ski c'est trop bon !

               
               </p>
                {% include share.html %}            
            </div>
            

                {% for image in site.static_files %}
                  {% if image.path contains 'img/posts/2021-03-10' %}
                    <div class="col-sm-5 text-center">
                    <img class="img-thumbnail img-responsive" src="{{ image.path }}" alt="{{ image.name }}">
                    </div>
                  {% endif %}
                {% endfor %}
                

            </div>

</div>

<footer>
        <div class="row"> 
        <div class="page-scroll btn btn-xl">                 
        <a href="https://www.facebook.com/pierrecunat/posts/194622302301342"> Mon actualité sur FB !</a>
        </div>           
        </div> 
</footer>

