---
layout: post
title : "Le chapeau rouge, vers le ski alpinisme !"
date: "2021-02-25"
---

<div class="container">
            <div class="row">
            
            <div class="col-sm-5 text-justify">
                
                <p>
Avec la chaleur persistante, les départs sont toujours bien matinaux. A 7h30, nous traversons à ski le village de Prapic. Toujours amusant de skier au milieu de ces vieilles bâtisses ! <br>
Nous remontons tranquillement le vallon du Saut du Laire jusqu'à la chapelle de la Saulce. Un petit échauffement avant d'attaquer une montée plus coriace ! <br>
Couteaux chaussés aux skis, le groupe se dirige vers la cabane de Pellegrine. La pente s'accentue et les couteaux sont bien appréciables, avis unanime ! Plus haut le vallon se referme sur un cirque rocheux. Sur notre gauche, une langue de neige permet de s'échapper du vallon. La pente, toujours plus raide, se gravit avec beaucoup d'attention et nécessite une bonne maîtrise des conversions. <br>
Les derniers mèteres, à plus de 50°, se gravissent skis à la main. Quelques belles marches taillées au piolet facilite la progression. <br>
Après quelques émotions, c'est la récompense ! On débouche sur une petite crête qui nous laisse espérer une montée plus simple vers le sommet. Bravo à tous pour le franchissement de ce passage en style alpin ;) <br>
Encore un bonne heure de montée, puis nous attaquons la pente sommitale. Plus raide, elle nous impose une progression ski à la main. 
<br> Le sommet ! <br> 
Nous ne sommes pas exactement au chapeau rouge mais à une antécime qui nous garantira une descente plus continue. <br>
Après une bonne pause, les skis sont chaussés pour la descente. Avec beaucoup d'attention, nous descendons la croupe sommitale remontée quelques instants plus tôt à pied. Puis en avant dans les belles pentes Sud Ouest en super condi ! <br>
Les champs sont vastes et permettent de lâcher les cheveaux. Tout le monde est bon skieur dans le groupe. C'est un vrai régal que d'enchainer les virages dans cette neige tout juste revenue. <br>
Plus bas, dans le vallon du Saut Laire, quelques poussées et un peu de slalom, nous permettent de rejoindre Prapic. <br>
Magnifique sortie au fond du Champsaur !  Bravo les skieurs !

                </p>



                {% include share.html %}
            </div>
            
            
                {% for image in site.static_files %}
                  {% if image.path contains 'img/posts/2021-02-26' %}
                    <div class="col-sm-5 text-center">
                    <img class="img-thumbnail img-responsive" src="{{ image.path }}" alt="{{ image.name }}">
                    </div>
                  {% endif %}
                {% endfor %}
                

            </div>
</div>

        <footer>
          <div class="row"> 
                <div class="page-scroll btn btn-xl">                 
                <a href="https://www.facebook.com/pierrecunat/posts/190304916066414"> Mon actualité sur FB !</a>
                </div>           
          </div> 
        </footer>
