<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">
    {% include header.html %}
    {% include activites.html %}
    {% include alpinisme.html %}
    {% include skirando.html %}
    {% include escalade.html %}
    {% include cascade.html %}
    {% include avantpartir.html %}
    {% include sacete.html %}
    {% include sachiver.html %}
    {% include sortiracguide.html %}    
    {% include Guide.html %}
    {% include tarif.html %}
    {% include contact.html %}


    {% include js.html %}

    </body>
</html>
