<!DOCTYPE html>
<html lang="fr">

  {% include head.html %} 
<!--contient toutes les bibliothèques à charger-->

    <body id="page-top" class="index">
      
        <!--    Première page du site internet : nav bar, titre, bouton vers les activites-->
    {% include header.html %}
        {% include footer.html %}
        <!--deuxième page du site, les activités, accessible en scroll-->
    {% include activites.html %}



    

    </body>
        <!--    inclusion des des javascripts utiles au site-->
    {% include js.html %}
</html>
