---
layout: page
---

<section class="bg-light-gray">

<div class="container">
 <div class="row">
  <div class="col-lg-2 sidebarpost">
   <h1 > mes articles   </h1>
   
   <ul>
  {% for post in site.posts%}
    <li>
    
        <a href="{{ post.url }}"><u>{{ post.title }} </u></a>

    </li>
  {% endfor %}
</ul>
  </div>

  <div class="col-sm-9 col-lg-offset-1 contenupost">
   <h1>{{ page.title }}</h1>
   <h4>{{ page.date |  date: "%d/%m/%y"  }}</h4>
   {{ content }}
  </div>

 </div>
</div>


</section>
